.ContactData {
    border: 1px solid rgb(180, 180, 180);
    width: 80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px;
}